/* BASIC STYLES */
* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.myBtn {
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
		5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.myBtn:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.myBtn {
		padding: 0.25em 0.75em;
	}
}

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: -100%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	transition: 0.8s;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 2% auto; /* 15% from the top and centered */
	padding: 2rem;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	& > p {
		font-size: 2rem;
	}
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
